// Variables
@import 'variables';

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome
$fa-font-path: "/fonts" !default;
@import "~font-awesome/scss/font-awesome.scss";

// jQuery UI
@import "~jquery-ui-dist/jquery-ui.min";
@import "~bootstrap-select/dist/css/bootstrap-select.min";

// jQuery context menu
@import "~jquery-contextmenu/dist/jquery.contextMenu";

// DataTables
@import "~datatables.net-bs/css/dataTables.bootstrap";
@import "~datatables.net-responsive-bs/css/responsive.bootstrap";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.spinner {
  padding: 50%;
  margin: -8px;
  width: 16px;
  height: 16px;
}
